/* css du projet tincat*/

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #d299c2 0%, #fef9d7 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
 
#logo {
    width: 100px;
}

.container-login {
    background-color: #ffffff;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
}

.header {
    text-align: center;
}

h1 {
    font-size: 65px;
    color: #2c2c2c;
}

form {
    margin-left: 50px;
    margin-right: 50px;
}

input {
    padding-left: 48px;
    padding-right: 48px;
    min-height: 54px;
    color: #545454;
    border: 2px solid #5a5353;
    margin: 10px 0;
    width: 100%;
    font-size: 1rem;
    font-weight: 900;
    outline: none;
    border-radius: 30px;
}

input[type=submit] {
    text-transform: uppercase;
    background-image: linear-gradient(to right, #d299c2 0%, #fef9d7 100%);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .27);
}

.tincat-card {
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    border-radius: 5px;
}

.imgProfil {
    height: 300px;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
}

.tincat-card h3 {
    text-align: center;
    padding-top: 150px;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #2c2c2c;
}

.nav-profil {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.nav-profil>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 80px;
    width: 80px;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.27);
    border-radius: 100%;
    transition: all .3s;
}

#like {
    background-color: #00d286;
    border: 2px solid #00a86b;
}

#run {
    background-color: #ffadca;
    border: 2px solid #ff5794;
}

#like:hover {
    background-color: #00a86b;

}

#run:hover {
    background-color: #ff5794;
}

#circle {
    height: 120px;
    width: 120px;
    border: 5px solid #f3f3f3;
    border-top-color: #dc45876c;
    border-radius: 100%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}







